<a href="https://colab.research.google.com/github/birzhan-kulmanov/Football_Match_Prediction/blob/main/Football_Match_Result_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting the Winning Team**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##**Importing Data**

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/16-17.csv')
data2 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/17-18.csv')
data3 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/18-19.csv')
data4 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/19-20.csv')
data5 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/20-21.csv')
data6 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/21-22.csv')
data7 = pd.read_csv('/content/drive/MyDrive/4th year/Machine Learning/22-23.csv')

In [ ]:
data7.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [ ]:
data1.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')

**Date** = Date

**HomeTeam** = Team playing at home

**AwayTeam** = Team playing as a guest

**FTHG** = Full time home team goals

**FTAG** = Full time away team goals

**FTR** = Full time result

**HS** = Home team shots

**AS** = Away team shots

**HST** = Home team shots on target

**AST** = Away team shots on target

**HC** = Home team corners

**AC** = Away team corners

In [ ]:
data6.shape

(380, 106)

## **Data Preprocessing**

In [ ]:
teams = {}

In [ ]:
def get_HomeTeam_info(team_name, data):
    teams[team_name] = {}
    teams[team_name]['FTHG'] = [0]
    teams[team_name]['HS'] = [0]
    teams[team_name]['HST'] = [0]
    teams[team_name]['HC'] = [0]

    teams[team_name][''] = [0]
    count = 0
    for i in range(data.shape[0]):
      if (data.iloc[i].HomeTeam == team_name):
        teams[team_name]['FTHG'] += data.iloc[i].FTHG
        teams[team_name]['HS'] += data.iloc[i].HS
        teams[team_name]['HST'] += data.iloc[i].HST
        teams[team_name]['HC'] += data.iloc[i].HC
        count += 1
    teams[team_name]['FTHG'] = teams[team_name]['FTHG']/count
    teams[team_name]['HS'] = teams[team_name]['HS']/count
    teams[team_name]['HST'] = teams[team_name]['HST']/count
    teams[team_name]['HC'] = teams[team_name]['HC']/count
    df = pd.DataFrame(teams[team_name])
    return df

In [ ]:
def get_AwayTeam_info(team_name, data):
    teams[team_name] = {}
    teams[team_name]['FTAG'] = [0]
    teams[team_name]['AS'] = [0]
    teams[team_name]['AST'] = [0]
    teams[team_name]['AC'] = [0]
    count = 0
    for i in range(data.shape[0]):
      if (data.iloc[i].AwayTeam == team_name):
        teams[team_name]['FTAG'] += data.iloc[i].FTAG
        teams[team_name]['AS'] += data.iloc[i].AS
        teams[team_name]['AST'] += data.iloc[i].AST
        teams[team_name]['AC'] += data.iloc[i].AC
        count += 1
    teams[team_name]['FTAG'] = teams[team_name]['FTAG']/count
    teams[team_name]['AS'] = teams[team_name]['AS']/count
    teams[team_name]['AST'] = teams[team_name]['AST']/count
    teams[team_name]['AC'] = teams[team_name]['AC']/count
    df = pd.DataFrame(teams[team_name])
    return df

In [ ]:
def match_info(HomeTeam, AwayTeam, data):
    hometeam_info = get_HomeTeam_info(HomeTeam, data)
    awayteam_info = get_AwayTeam_info(AwayTeam, data)
    return pd.DataFrame(pd.concat([hometeam_info.T, awayteam_info.T]).T)

In [ ]:
def normalize_data(data):
  hometeam = data.iloc[0].HomeTeam
  awayteam = data.iloc[0].AwayTeam
  normalized_data = match_info(hometeam, awayteam, data)
  for i in range(1,data.shape[0]):
    hometeam = data.iloc[i].HomeTeam
    awayteam = data.iloc[i].AwayTeam
    normalized_data = normalized_data.append(match_info(hometeam, awayteam, data))
  return normalized_data

## **Splittig data into training and testing**

In [ ]:
training_data2 = normalize_data(data2)
training_data3 = normalize_data(data3)
training_data4 = normalize_data(data4)
training_data5 = normalize_data(data5)
training_data6 = normalize_data(data6)
#
testing_data = normalize_data(data7)

y_train2 = data2.FTR
y_train3 = data3.FTR
y_train4 = data4.FTR
y_train5 = data5.FTR
y_train6 = data6.FTR

y_test = data7.FTR

In [ ]:
training_data = training_data2
training_data = training_data.append(training_data3)
training_data = training_data.append(training_data4)
training_data = training_data.append(training_data5)
training_data = training_data.append(training_data6)

y_train = y_train2
y_train = y_train.append(y_train3)
y_train = y_train.append(y_train4)
y_train = y_train.append(y_train5)
y_train = y_train.append(y_train6)

In [ ]:
y_test

0      A
1      D
2      H
3      H
4      H
      ..
131    A
132    H
133    A
134    A
135    A
Name: FTR, Length: 136, dtype: object

In [ ]:
y_train

0      H
1      A
2      A
3      A
4      H
      ..
375    H
376    H
377    H
378    H
379    A
Name: FTR, Length: 1900, dtype: object

In [ ]:
training_data.head()

,FTHG,HS,HST,HC,,FTAG,AS,AST,AC
0,2.842105,18.052632,7.736842,6.947368,0.0,1.631579,10.263158,3.842105,4.789474
0,1.263158,11.421053,3.736842,4.736842,0.0,2.368421,16.684211,5.789474,7.684211
0,1.578947,18.736842,6.947368,7.789474,0.0,1.052632,9.052632,3.210526,3.842105
0,1.526316,14.052632,4.789474,5.473684,0.0,0.631579,8.052632,2.947368,3.315789
0,1.473684,9.947368,3.157895,4.263158,0.0,0.789474,9.421053,3.473684,2.947368

In [ ]:
testing_data.head()

,FTHG,HS,HST,HC,,FTAG,AS,AST,AC
0,1.428571,12.285714,4.285714,4.714286,0.0,1.714286,12.571429,3.857143,4.285714
0,1.857143,14.428571,4.857143,5.857143,0.0,1.166667,14.500000,5.500000,6.333333
0,0.857143,8.000000,2.571429,4.714286,0.0,0.428571,11.142857,3.571429,4.285714
0,1.714286,13.571429,4.142857,6.285714,0.0,0.428571,14.142857,3.857143,4.571429
0,2.285714,18.571429,6.571429,8.142857,0.0,0.142857,7.857143,1.857143,2.857143

## **Standard Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(training_data)
X_train_scaled = scaler.transform(training_data)
X_test_scaled = scaler.transform(testing_data)

## **Tuning HyperParameters using GridSearch**

### **Decision Tree**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

cv = KFold(n_splits=3, shuffle=True, random_state=1)

model = DecisionTreeClassifier()

space = dict()

space['min_samples_leaf'] = [2, 3, 4, 10]
space['max_depth'] = [1, 10, 15, 100, 1000]  
space['criterion'] = ['gini', 'entropy']
space['max_leaf_nodes'] = [2, 3, 5, 10, 15, 100]
space['min_samples_split'] = [2, 3, 5, 10]

# define search
search = GridSearchCV(model, space, scoring = 'accuracy', n_jobs=None, cv=cv, refit=True).fit(X_train_scaled, y_train)

print("--------------Display best results--------------------")
print(search.best_params_)
print(search.best_score_)
# print("means: ")
# print(search.cv_results_['mean_test_score'])
# print("std: ")
# print(search.cv_results_['std_test_score'])
best_c = search.best_params_
best_val_score = search.best_score_
best_val_std = search.cv_results_['std_test_score'][np.argmax(search.cv_results_['mean_test_score'], axis=0)]

--------------Display best results--------------------
{'criterion': 'gini', 'max_depth': 10, 'max_leaf_nodes': 15, 'min_samples_leaf': 2, 'min_samples_split': 2}
0.5389404684185434

In [ ]:
from sklearn.metrics import accuracy_score

# Model Evaluation

model = DecisionTreeClassifier(criterion= 'gini', max_depth= 10, max_leaf_nodes = 10, 
                     min_samples_leaf = 2, min_samples_split = 2)

model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
res = accuracy_score(y_true=y_test, y_pred=y_pred)   # 
print('Accuracy model:', res)

Accuracy model: 0.5808823529411765

### **Logistic Regression**

In [ ]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import GridSearchCV

cv = KFold(n_splits=3, shuffle=True, random_state=1)

model = LogisticRegression(solver='saga')

space = dict()
space['penalty'] = ['l1', 'l2']
space['C'] = [0.001 , 0.01, 0.1, 10, 100, 1000]  

# define search
search = GridSearchCV(model, space, scoring = 'accuracy', 
n_jobs=None, cv=cv, refit=True).fit(X_train_scaled, y_train)

print("--------------Display best results--------------------")
print(search.best_params_)
print(search.best_score_)
#print("means: ")
#print(search.cv_results_['mean_test_score'])
#print("std: ")
#print(search.cv_results_['std_test_score'])
best_c = search.best_params_
best_val_score = search.best_score_
best_val_std = search.cv_results_['std_test_score'][np.argmax(search.cv_results_['mean_test_score'], axis=0)]

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

--------------Display best results--------------------
{'C': 0.01, 'penalty': 'l2'}
0.5568379837968847

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_sag.py:354: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  ConvergenceWarning,

In [ ]:
from sklearn.metrics import accuracy_score

# Model Evaluation

model = LogisticRegression(penalty = 'l2', solver='saga', C=0.01)
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
res = accuracy_score(y_true=y_test, y_pred=y_pred)   # 
print('Accuracy model:', res)

Accuracy model: 0.5735294117647058